body {
    background-color: #ededd5;
    font-family: FreeMono, monospace;
}

/* Header */
header {
    text-align: center;
}

/* Navigation */

.largeScreen {
    display: inline;
}
.smallScreen {
    display: none;
}

@media screen and (max-width: 600px) {
    .largeScreen {display: none;}
    .smallScreen {display: inline;}
}

nav {
    display: inline;
    clear: both;
}
nav ul {
    list-style-type: none; 
    margin: 0px; 
    padding: 0px; 
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: black;
}
nav ul li a {
    display: block;
    color: #ededd5;
    padding-left: 50%;
    padding-bottom: 5%;
    padding-top: 5%;
}

select {
    width: 100%;
    height: 25px;
    background-color: black;
    text-align: center;
    color: #ededd5;
}